img{
    width: 100%;
}

body{
    background: #F4E1B1;
    margin: 0;
    /*background-image: url(./images/Fondo.psd) repeat ;*/
}

h1,h2,h3,h5{
   color: #3E2206;
   font-family: interstate;
}

p{
   color: #3E2206;
   font-size: 17px;
   line-height: 25px;
   font-family: "Georgia", serif;
}

.container-all{
    padding-left: 4%;
    padding-right: 4%;
}

.intro{
    padding-left: 5%;
    padding-right: 5%;
}

.specialise{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.photo-specialise{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    padding-left: 3%;
}

.spe{
    width: 28%;
    cursor: pointer;
    padding-left: 2%;
    /*vertical-align: middle;*/
}

.spe:hover{    
    transition: all 0.5s ease; 
    transform: translateY(-20px) scale(1.1);
}

h5:hover {
    color:#C52039;
}

.spe
h5{
    margin: 0;
    padding-bottom: 10%;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;   
}

ul{
    list-style: none;
    color: #3E2206;
    font-family: "Georgia", serif; 
    line-height: 25px;
    width:65%;
    align-self: flex-end;
    text-align: right;
    padding-left: 0;
    
    
}

.even {
    text-align: left;
}

.section{
    border-bottom: 1px solid #3E2206;
    padding-left: 5%;
    padding-right: 5%;
}

.photo{
    width: 35%;
    align-self: flex-end;
    transition: all 0.6s;
}

.photo:hover{
    transform: scale(1.5);
    transform-origin: bottom;
}

.title-projects{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;
    margin: 0;
}

.text-projects{
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding-bottom: 6%;

    
    
}

.img-projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 10%;
}
.poster{
    width: 30%;
}

.footer{
    margin: 0;
    width: 100%;
    min-height: 185px;
    background: url('./images/header-down.png') bottom no-repeat #F4E1B1;
    background-size: contain;
}

.text-footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1%;
    padding-bottom: 10%;
    
}

.icono{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;   
}

.text{ 
    display: inline;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    padding-left: 7%;   
}

.text-contact{
    font-size: 13px; 
    text-align: center;
}

.title-footer1{
    margin: 0;
    font-size: 16px;
    padding-top: 10%;
    padding-bottom: 10%; 
    padding-left: 10%;
    text-align: center;
   
}

.title-footer2{
    margin: 0;
    font-size: 16px;
    padding-top: 10%;
    padding-bottom: 10%; 
    padding-left: 10%;
    text-align: start;
   
}

.contact{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end; 
    padding-right: 5%;      
}

.social{
    width: 15%;
    align-content: flex-end;
}

.character-team{
    border-radius: 100%;
}
.ourTeam{
    position: relative;
}

.ourTeam:before {
    border-radius: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(238, 76, 55, 0.5); 
    transition: all .3s linear;
}
      
.ourTeam:hover:before { 
    background: none;
    
}
.text-team{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;    
}

.ourTeam:hover > .text-team {
    opacity: 0;
}

.text-team
h1{
    font-size: 20px;
    color: #F4E1B1;
}

.allTeam{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 10%;
    border-bottom: 1px solid #3E2206;
    justify-content: space-around;
    align-items: space-between;
}

.ourTeam{
    width: 40%;
}